@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #181a1f;
  --background-bg: #f9fbff;
}
html {
  padding: 0 !important;
}
body {
  color: var(--foreground);
  background-color: var(--background-bg);
  font-size: 14px;
}
p {
  color: #6d727d;
  padding-bottom: 15px;
}

.button--blue {
  background: linear-gradient(180deg, #2d66f8 0%, #2a5ee6 52.08%, #2554cc 100%);
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.25), 0px 0.5px 0.5px rgba(16, 24, 40, 0.2);
  border-radius: 8px;
  color: #fff;
  padding: 12px 20px 14px;
  line-height: normal;
}
